<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <script src="/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="/axios.min.js"></script>

</head>
<body >
<div id="app">
    <template>
        <el-form >
            <el-form-item label="用户名" prop="pass">
                <el-input  v-model="admin.adminName" autocomplete="off" style="width: 20%"></el-input>
            </el-form-item>
            <el-form-item label="密码" prop="checkPass">
                <el-input  v-model="admin.adminPwd" autocomplete="off" style="width: 20%"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="searchBtn">登录</el-button>

                <el-button type="primary" @click="searchBtn1">注册</el-button>
            </el-form-item>
        </el-form>
        </template>
</div>
<script>
    var vm = new Vue({
        el:"#app",
        data:{
            admin:{
                adminName:'',
                adminPwd:'',
            }
        },
        methods:{
            //注册
            searchBtn1:function(){
                window.location.href="/page/regin"
            },
            //登录
            searchBtn:function(res){
                console.log("发送axios......")
                axios.get("/admin/login", {
                    params:{
                        adminName:this.admin.adminName,
                        adminPwd:this.admin.adminPwd
                    }
                }).then(res=>{
                    console.log(res)
                    //把json数组赋值给tableData
                    if(res.data.code==0){
                    window.location.href="/page/studentlist"
                }
            });
        },

            //注册

        },

    })
</script>
</body>
</html>